<app-space>
    <app-planet [radius]="7e5" [texture]="textureSun"></app-planet>
    
    @for (planet of planets; track $index) {
        <app-planet [texture]="planet.img" [radius]="7e5">
            <app-orbit [rayon]="planet.orbit.rayon" [orbitalAngle]="planet.orbit.inclination" [longNode]="planet.orbit.longNode"/>
            <app-circular-animation [orbitRadius]="planet.orbit.rayon" [orbitalAngle]="planet.orbit.inclination" [longNode]="planet.orbit.longNode" [initX]="planet.posX" [initY]="planet.posY" [orbitSpeed]="planet.orbit.revSpeed"/>
        </app-planet>
    }

    <app-stars [quantity]="10000"/>
</app-space>